.inputContainer{
    position: relative;
}

.inputContainer input{
    width: 100%;
    border: 2px dashed var(--border-color);
    border-radius: 3px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: rgb(180, 248, 180);
    color: #0000008c;
}
.inputContainer .icon{
    position: absolute;
    height: 22px;
    width: 30px;
    right: 7px;
    top: 12px;
    cursor: pointer;
    color: black;
}