.passwordSetForm {
    max-width: 50%;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .passwordSetForm h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .passwordSetForm  div {
    display: flex;
    flex-direction: column;
  }
  
  .passwordSetForm  .formGroup {
    margin-bottom: 20px;
  }
  
  .passwordSetForm .label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .passwordSetForm .input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  /* .passwordSetForm button[type="submit"] {
    background-color: #0077cc;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  } */
  
  /* .password-set-form button[type="submit"]:hover {
    background-color: #005da4;
  } */