.parent{
    width: 100%;
    
}

.parentContainer{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.headingContainer{
    display: flex;
    justify-content: center;
    width: 50%;
}
.body{
    text-transform: uppercase;
    margin-top: 3%;
    letter-spacing: 15%;
    width: 50%;

}
@media only screen and (max-width: 1000px) {
    .parentContainer{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .headingContainer{
        display: flex;
        justify-content: center;
        width: 80%;
    }
    .body{
        text-transform: uppercase;
        margin-top: 3%;
        letter-spacing: 15%;
        width: 80%;
    
    }
}
.contentContainer{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 2%;
    padding-left: 2%;
    background-color: #d1cccc;
    text-transform: uppercase;
    border-radius: 25px;
}
.button{
    background-color: var(--primary-color);
    color: #fff;
    width: 100%;
    margin-top: 15px;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.button:hover{
    background-color: #410275;
}
