*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dialogWrapper{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.dialogContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    height : 90vh;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    background-color: white;
    border: 1px solid green;
    overflow: auto;
    z-index: 9;
    
}
@media only screen and (max-width: 767px) {
    .dialogContainer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        padding: 0;
        padding: 1rem 0rem;
        background-color: white;
        border: 1px solid green;
        z-index: 9;
    }
}