*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dialogWrapper{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: blur(10px);
}
.dialogContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    background-color: white;
    border: 1px solid green;
    z-index: 9;
}
@media only screen and (max-width: 1000px) {
    .dialogContainer{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        padding: 2rem 3rem;
        border-radius: 0.5rem;
        background-color: white;
        border: 1px solid green;
        z-index: 9;
    }
}